div
{
    border-radius: 5px;
    }
#header
{
    position: fixed;
    z-index: 1;
    height:100px;
    width: 98%;
    background-color: LightGray;
    margin-bottom: 10px
    }

#Linkedin {
    float:left;
	margin-left: 10px;
	padding-bottom: 5px;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
    float:right;
    margin-right: 10px;
    margin-top: 0px;
	padding-top: 0px;
	font-size: 15px;
	font-family: Verdana, sans-serif;
}
#languages{
    float:right;
    margin-right: 10px;
    margin-top: 0px;
	padding-top: 40px;
	font-size: 15px;
	font-family:sans-serif;
	color: #ffffff;
}
#name
{
    margin-left:45%;
	font-size: 25px;
	color: black;
    }

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    width: 99%;
    background-color: white;
    }

.left
{
    float: left;
    margin-top: 50px;
    margin-right: -90px;
    height: relative;
    width: 10%;
    background-color: #4160E8;
    }

#footer
{
    height:40px;
    clear:both;
    position: relative;
    color: white;
    }

h3
{
    text-decoration: underline;
    }
table
{
    border: 1px solid black;
    border-collapse: collapse;
    }
td
{
    padding: 1px;
    border: 0.1px solid black;
    border-collapse: collapse;
    font-style: oblique;
    }

#course-name
{
    font-weight:bold;
    }
#heading
{
    font-weight:bold;
    }
